<article ng-controller="bookCtrl">
	<div ng-show="model.selectedLaunch" class="book-launch-details-panel content-panel" style="margin-top: 20px; width:660px; height: 170px;">
		<div class="panel"></div>
		<div class="content">
			<div class="panel-title">Launch Details</div>
			<div class="panel-line">
				<div class="data-field">Launch</div>
				<select ng-model="model.selectedLaunch"
						ng-options="launch as launch.name for launch in model.launches"
						ng-change="launchChanged(model.selectedLaunch)"
						class="data-value" style="width: 430px;" >
				</select>
			</div>
			<div class="panel-line">
				<div class="data-field">From / To</div>
				<div class="data-value">{{model.selectedLaunch.from}} / {{model.selectedLaunch.to}}</div>
			</div>
			<div class="panel-line">
				<div class="data-field">Time</div>
				<div class="data-value">{{model.selectedLaunch.date.toUTCString()}}</div>
			</div>
			<div class="panel-line">
				<div class="data-field">Countdown</div>
				<div class="data-value">T-{{model.timeToLaunch}}</div>
			</div>
		</div>
	</div>
	<div class="book-actions-panel content-panel" style="width:660px; height: 85px;">
		<div class="panel"></div>
		<div class="content">
			<div class="panel-title">Actions</div>
			<div class="panel-line text-align--right">
				<button ng-class="{'disabled': !model.canReset}" ng-click="onResetClicked()">Reset</button>
				<button>Book</button>
			</div>
		</div>
	</div>
</article>