<html ng-app="mainApp">
    <head>
        <title>Shuttle to Mars</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Shuttle to Mars"/>
        <meta name="keywords" content="mars,shuttle,rocket,trip,vacation"/>
        <link rel="shortcut icon" type="image/x-icon" href="img/mars.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="main-style.css">
        <script src="lib/jquery/jquery-3.2.1.min.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="main-ctrl.js"></script>
        <script src="home/home-view.js"></script>
        <script src="book/book-view.js"></script> 
        <script src="prepare/prepare-view.js"></script> 
        <script src="gallery/gallery-view.js"></script> 
        <script src="about/about-view.js"></script>     
    </head>
    <body ng-controller="mainCtrl">
        <div class="main margin--0-auto height--100 overflow--hidden flex flex-direction--column">
            <div class="main__header-wrapper">
                <header class="main__header flex--0 height--100 flex align-items--center justify-content--space-between">
                    <div class="main__header__logo">
                        <span>{{::model.mainTitle[0]}}</span><span>{{::model.mainTitle[1]}}</span><span>{{::model.mainTitle[2]}}</span><span></span>
                    </div>
                    <nav class="main__header__nav relative">
                        <ul>
                            <li ng-repeat="view in model.views track by $index" ng-class="{active: view.id === model.activeViewId}">
                                <a href="#" ng-click="onViewClick(this)">{{::view.title}}</a>
                            </li>
                        </ul>
                        <div class="absolute width--100 main__header__nav__marker-track"></div>
                        <div class="absolute main__header__nav__marker"></div>
                    </nav>
                </header>
            </div>
            <div class="main__content-wrapper flex--1 relative">
                <div class="main__content absolute-stretch">
                    <home-view ng-if="model.activeViewId === 'home'" class="view home-view"></home-view>
                    <book-view ng-if="model.activeViewId === 'book'" class="view book-view"></book-view>
                    <prepare-view ng-if="model.activeViewId === 'prepare'" class="view prepare-view"></prepare-view>
                    <gallery-view ng-if="model.activeViewId === 'gallery'" class="view gallery-view"></gallery-view>
                    <about-view ng-if="model.activeViewId === 'about'" class="view about-view"></about-view>
                </div>
            </div>
            <div class="main__footer-wrapper">
                <footer class="main__footer flex--0 height--100 flex align-items--center justify-content--space-between">
                </footer>
            </div>
        </div>
    </body>
</html>

