@font-face {
	font-family: "itc-eras-light";
	src: url("fonts/itc-eras-light.woff") format("woff");
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}

body {
	font-family: "Orbitron", arial, sans-serif;
	color: #fff;
	margin: 0;	
	padding: 0;
	background-color: #000;
}

input {
	font-family: "Orbitron", arial, sans-serif;
	outline: none;
	height: 25px;
}

select {
	font-family: "Orbitron", arial, sans-serif;
	outline: none;
	height: 25px;
}

a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

ul {
	padding: 0;
}

li {
	list-style: none outside none;
    display: inline-block;
}

button {
	transition: all 1s cubic-bezier(0.250, 0.100, 0.250, 1.000);
	outline: none !important;
	cursor: pointer;
	font-family: "Orbitron", arial, sans-serif;
	font-size: 16px;
	width: 100px;
	height: 30px;
	margin-left: 10px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border: 1px solid #f96;
	background-color: #000;
	color: #f96;
}

button.disabled {
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

article {
	height: 100%;
}

.height--100 {
	height: 100%;
}

.width--100 {
	width: 100%;
}

.flex {
	display: flex;
}

.flex-direction--column {
	flex-direction: column;
}

.justify-content--space-between {
	justify-content: space-between;
}

.align-items--center {
	align-items: center;
}

.flex--0 {
	flex: 0 0 auto;
}

.flex--1 {
	flex: 1 1 auto;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.absolute-stretch {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.overflow--auto {
	overflow: auto;
}

.overflow--scroll {
	overflow: scroll;
}

.overflow--hidden {
	overflow: hidden;
}

.margin--0-auto {
	margin: 0 auto;
}

.text-align--right {
	text-align: right;
}

.main {
	min-width: 1024px;
	min-height: 600px;
	animation: fade-in 1s;
}

.main__header-wrapper {
	height: 60px;
	background-color: #611;
	border-bottom: 1px solid #a66;
}

.main__header {
	width: 1024px;
	margin: 0 auto;
	padding: 0 15px;
}

.main__header__logo {
}

.main__header__logo > span:nth-of-type(1) {
	font-size: 32px;
}

.main__header__logo > span:nth-of-type(2) {
	font-size: 16px;
}

.main__header__logo > span:nth-of-type(3) {
	font-size: 32px;
}

.main__header__logo > span:nth-of-type(4) {
	display: inline-block;
	position: relative;
	left: -31px;
	top: -22px;    
	background-color: #f44;
	width: 6px;
	height: 6px;
	border-radius: 3px;
}

.main__header__nav {
}

.main__header__nav li {
	padding: 7px 0;	
}

.main__header__nav li > a {
	padding: 7px 15px;
	color: #a55;
	font-size: 18px;
	text-transform: uppercase;
	transition: all 1s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.main__header__nav li {
	transition: all 1s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.main__header__nav li.active {
}

.main__header__nav li.active a {
	color: #fff;	
}

.main__header__nav__marker-track {
	left: 0;
	bottom: 15px;
	height: 2px;
	background-color: #000;
}

.main__header__nav__marker {
	left: 0;
	width: 0;
	bottom: 15px;
	height: 2px;
	background-color: #f44;
	transition: all 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.main__content-wrapper {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #000;
}

.main__content {
	padding: 0 15px;
}

.view {
	position: relative;
	display: block;
	height: 100%;
	animation: fade-in 1s;
}

.content-panel {
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 100%;
}

.content-panel .panel {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #444;
	opacity: 0.5;
	border: 1px solid #000;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.content-panel .content {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: justify;
	padding: 5px 10px;
}

.panel-title {
	width: 100%;
	color: #f96;
	margin-bottom: 15px;
}

.data-field {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	color: #aaa;
	width: 200px;
}

.data-field:after {
	content: ":";
	margin-left: 5px;
	margin-right: 5px;
}

.data-value {
	display: inline-block;
	height: 25px;
	line-height: 25px;
}

select.data-value {
	font-size: 16px;
	height: 25px;
}

.main__footer-wrapper {
	height: 30px;
	background-color: #411;
	border-top: 1px solid #a66;
}

.main__footer {
	width: 1024px;
	margin: 0 auto;
	padding: 0 15px;
}

.home-view {
	background: url("img/mars.jpg") 110px -10px no-repeat;
}

.book-view {
	background: url("img/mars.jpg") 110px -10px no-repeat;
}

.prepare-view {
	background: url("img/mars.jpg") 110px -10px no-repeat;
}

.gallery-view {
	background: url("img/mars.jpg") 110px -10px no-repeat;
}

.about-view {
	background: url("img/mars.jpg") 110px -10px no-repeat;
}

.triangle--up {
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
	top: -5px;
}

.triangle--down {
	border: 10px solid transparent;
	border-top: 10px solid #fff;
	top: 5px;
}

.triangle--left {
	border: 10px solid transparent;
	border-right: 10px solid #fff;
	left: -5px;
}
.triangle--right {
	border: 10px solid transparent;
	border-left: 10px solid #fff;
	left: 5px;
}
